/*
* @Author: Marte
* @Date:   2018-10-29 19:58:00
* @Last Modified by:   Marte
* @Last Modified time: 2018-10-29 20:56:55
*/
.old{
    text-decoration: none;
}
.u1 li{
    list-style-type: none;
    text-decoration: none;
}
.u1 li a{
    text-decoration:none;
}